body { 
    background-color: lightblue;
}
header {
    background-color: lightskyblue;
    text-align: center;
    font-size: 30px;
}
h1 {
    font-size: larger ;
}
footer {
    background-color: lightskyblue;
    text-align: center;
    font-size: 20px;
}